/* src/components/LoginForm.css */

.login-page .card {
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
}

.login-page .card h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.login-page .form-control {
  border-radius: 0.5rem; /* Add rounded corners */
  padding: 0.75rem; /* Add padding for better spacing */
}

.login-page .btn-primary {
  background-color: #1d7732; /* Update to green background */
  border: none;
  border-radius: 0.5rem; /* Add rounded corners */
  padding: 0.75rem; /* Add padding */
}

.login-page .btn-primary:hover {
  background-color: #145522; /* Darker green on hover */
}

.login-page .img-fluid {
  max-width: 100%;
  height: auto;
}

.login-page .weightlifting-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .login-page .container-fluid {
    flex-direction: column;
  }
  .login-page .card {
    margin-bottom: 2rem;
  }
}

.login-page .container-fluid {
  overflow: hidden; /* Disable scrolling */
}
