/* src/components/LoginForm.css */

body,
html {
  overflow: hidden; /* Prevent scrolling */
}

.login-page .card {
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
}

.login-page .card h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.login-page .form-control {
  border-radius: 0.5rem; /* Add rounded corners */
  padding: 0.75rem; /* Add padding for better spacing */
}

.login-page .btn-primary {
  background-color: #1d7732; /* Update to green background */
  border: none;
  border-radius: 0.5rem; /* Add rounded corners */
  padding: 0.75rem; /* Add padding */
}

.login-page .btn-primary:hover {
  background-color: #145522; /* Darker green on hover */
}

.login-page .img-fluid {
  max-width: 100%;
  height: auto;
}

.login-page .weightlifting-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.login-page .text-end a {
  color: #1d7732; /* Green color for the link */
  text-decoration: none; /* Remove underline */
}

.login-page .text-end a:hover {
  text-decoration: underline; /* Add underline on hover */
}

@media (max-width: 768px) {
  .login-page .container-fluid {
    flex-direction: column;
  }
  .login-page .card {
    margin-bottom: 2rem;
  }
}

.login-page .container-fluid {
  overflow: hidden; /* Disable scrolling */
}

.login-page .left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Push footer to the bottom */
  height: 100vh; /* Full height to avoid overflow */
  padding: 2rem; /* Add some padding */
}

.login-page .footer-links {
  margin-bottom: 2rem;
  text-align: center;
}

.login-page .footer-links a {
  color: #1d7732; /* Green color for the link */
  text-decoration: none; /* Remove underline */
}

.login-page .footer-links a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.login-page .position-relative {
  position: relative;
}

.login-page .password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
}
