/* General styling for the sessions page container */
/* Sets background color, minimum height, padding, full width, and enables vertical scrolling */
.sessions-page-container {
  background-color: #f8f9fa; /* Light grey background */
  min-height: 100vh;
  padding: 2rem 0;
  width: 100%; /* Ensure it takes full width */
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Styling for badges */
/* Ensures badges are inline-flex items, centered vertically and horizontally, with padding and rounded corners */
.badge {
  display: inline-flex; /* Ensures badges are inline and flex items */
  align-items: center; /* Vertically centers content */
  justify-content: center; /* Horizontally centers content */
  padding: 0.5em 0.75em; /* Consistent padding */
  border-radius: 0.375rem; /* Rounded corners */
  font-size: 0.75em; /* Consistent font size */
  font-weight: 600; /* Consistent font weight */
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}

/* Specific styling for different badge types */
/* Sets background and text colors for danger, success, and secondary badges */
.badge-danger {
  background-color: #ffafb7;
  color: #000000;
}

.badge-success {
  background-color: #4ea562;
  color: #000000;
}

.badge-secondary {
  background-color: #cacacae1;
  color: #000000;
}

/* Styling for client name */
/* Sets text color and font weight */
.client-name {
  color: #1d7732 !important; /* Light green color */
  font-weight: bold;
}

/* General table styling */
/* Sets width, margin, font size, and removes borders between cells */
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  font-size: 0.8rem; /* Smaller font size */
  border-collapse: collapse; /* Remove borders between cells */
}

/* Table header and cell styling */
/* Centers text horizontally and vertically, with consistent padding and bold font */
.table th,
.table td {
  text-align: center; /* Center text horizontally */
  vertical-align: middle; /* Center text vertically */
  padding: 0.5rem; /* Consistent padding */
  margin: 0; /* Remove extra margin */
  border: none; /* Remove borders between cells */
  font-weight: bold; /* Make text bolder */
}

/* Additional styling for table headers */
/* Sets vertical alignment and border for table headers */
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

/* Styling for table body */
/* Adds top border between table bodies */
.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

/* Styling for bordered table */
/* Sets bottom border for the entire table */
.table-bordered {
  border-bottom: 1px solid #dee2e6;
}

/* Styling for bordered table headers and cells */
/* Removes borders between cells */
.table-bordered th,
.table-bordered td {
  border: none; /* Remove borders between cells */
}

/* Styling for bordered table headers */
/* Sets bottom border width */
.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

/* Margin utilities */
/* Adds margin to the top and bottom */
.mt-5 {
  margin-top: 3rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

/* Styling for card titles */
/* Sets font family, size, weight, and color for card titles */
.card-title {
  font-family: "Arial", sans-serif; /* Example font family */
  font-size: 1rem; /* Example font size */
  font-weight: bold; /* Example font weight */
  color: #1d7423; /* Example color */
}

/* Styling for secondary card titles */
/* Sets font family, size, weight, and color */
.second-card-sessions {
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  font-weight: 900;
  color: #000a01;
}

/* Centering containers */
/* Centers the containers for past sessions title and sessions list */
.top-cont-sessions {
  width: 75%;
  margin: auto;
  margin-bottom: 0;
}

.bottom-cont-sessions {
  width: 75%;
  margin: auto;
  margin-top: 0;
}

/* Styling for header row */
/* Removes borders and enables vertical scrolling */
.header-row {
  border: 0;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling */
}

/* Styling for header row cells */
/* Removes borders and sets font properties */
.header-row th {
  border: 0;
  color: lightgrey;
  text-transform: uppercase;
  font-size: 10px;
}

/* Styling for bordered table */
/* Removes top border */
.table .table-bordered {
  border-top: 0;
}

/* Styling for links */
/* Sets text color */
.text-decoration-none {
  color: darkgreen;
}

/* Footer styling */
/* Sets background color, top border, padding, height, and positioning */
.footer {
  background-color: #f8f9fa !important; /* Light grey background */
  border-top: 1px solid #dee2e6 !important;
  padding: 0.5rem 0 !important; /* Adjust padding to shorten height */
  height: 40px !important; /* Set a fixed height if desired */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Styling for footer container */
/* Sets display, alignment, and padding */
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}

/* Styling for footer text and links */
/* Sets text color and font size */
.footer .text-muted {
  color: #6c757d !important;
  font-size: 10px !important;
}

.footer a {
  color: #6c757d !important;
  text-decoration: none; /* Remove underline */
}

.footer a:hover {
  text-decoration: underline; /* Add underline on hover */
}

/* Styling for active link */
/* Sets font weight, color, and underline effect */
.past-sessions-title .active {
  font-weight: bold; /* Make text bold */
  color: #1d7423 !important; /* Example color */
  border-bottom: 2px solid #1d7423; /* Underline effect */
  padding-bottom: 0.2rem; /* Add space between text and underline */
}

/* Styling for muscle group badges */
/* Sets display, background color, text color, border, padding, and margin */
.muscle-group-badge {
  display: inline-block;
  background-color: #e6f7ff; /* Very light blue background color */
  color: #1d7732; /* Dark green text color */
  border: 1px solid #e6f7ff; /* Border matching the background color */
  border-radius: 12px; /* Rounded corners */
  padding: 0.25em 0.5em; /* Adjusted padding */
  margin: 0.2em 0.1em; /* Consistent spacing between badges */
  font-size: 0.75em; /* Adjust font size if necessary */
  font-weight: bolder; /* Slightly bolder font weight */
  text-align: center; /* Center text */
  white-space: nowrap; /* Prevent text from wrapping */
  vertical-align: middle; /* Center align vertically */
}

/* Styling for muscle groups container */
/* Sets display, wrapping, and alignment */
.muscle-groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: left; /* Left-align muscle group badges */
}

/* Styling for edit button */
/* Sets cursor and margin */
.edit-button {
  cursor: pointer;
  margin-left: 0.5rem;
}

/* Styling for scrollable container */
/* Sets maximum height and enables vertical scrolling */
.scrollable-container {
  max-height: 70vh; /* Adjust the height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling */
}

/* Styling for sticky title */
/* Sets positioning, background color, z-index, and padding */
.sticky-title {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000; /* Ensure it stays above other content */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Styling for sticky header */
/* Sets positioning, top offset, background color, and z-index */
.sticky-header th {
  position: sticky;
  top: 3rem; /* Adjust based on the height of the title */
  background-color: white;
  z-index: 1000; /* Ensure it stays above other content */
}

/* Styling for muscle groups container */
/* Sets display, wrapping, and relative positioning */
.muscle-groups {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

/* Styling for edit button */
/* Sets absolute positioning, cursor, and margin */
.edit-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  margin-left: 0.5rem;
}

/* Styling for table headers and cells */
/* Sets relative positioning, vertical alignment, text alignment, padding, and margin */
.table th,
.table td {
  position: relative; /* Ensure the edit button positions relative to the cell */
  vertical-align: middle;
  text-align: center; /* Center text horizontally */
  padding: 0.5rem; /* Consistent padding */
  margin: 0; /* Remove extra margin */
  border: none; /* Remove borders between cells */
  font-weight: bold; /* Make text bolder */
}

/* Additional styling for muscle groups cells */
/* Adjusts padding and removes border */
.table td.muscle-groups {
  padding-right: 40px; /* Adjust space for the edit button */
  border: none;
}

/* Additional styling for sticky header */
/* Sets positioning, top offset, background color, and z-index */
.sticky-header th {
  position: sticky;
  top: 3rem; /* Adjust based on the height of the title */
  background-color: white;
  z-index: 1000; /* Ensure it stays above other content */
}

/* Styling for navbar */
/* Sets margins */
.navbar {
  margin-bottom: 20px; /* Space below the navbar */
  margin-left: 130px;
  margin-top: -30px;
}

/* Styling for navbar links */
/* Sets text color */
.nav-link {
  color: #000; /* Change color of nav links */
}

/* Additional styling for navbar links */
/* Sets hover color */
.nav-link:hover {
  color: #0056b3; /* Hover color of nav links */
}
